:root {
	--profile-bio-color: #ffffff;
	--profile-cover-color: rgb(245,244,244);
	--profile-brand-color: #280331;
}

.emoji__container {
	float: left;
}

.duration_time {
	float: right;
}

.strong {
	font-weight: bold;
}

.break_float_flow {
	clear: both;
}

.navbar-brand img {
  max-width: 35px;"
}

.btn{
	box-shadow: none !important
}
