.form_bookmark {
	display: inline-block;
}

.marked {
	color: #fff !important;
	background-color: #007bff !important;
	border-color: #007bff !important;
}

.unmarked:hover {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
