.hide {
    display: none !important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* Toggle class */
.cursor-pointer {
    cursor: pointer;
}
.toggle-active, .text-light-blue {
    color: #218df2 !important;
}
